html {
    font-family: sans-serif;
}

#jsApp{
  justify-content: center;
  align-items: center;
  display: flex;
}

body {
  margin: 3rem;
}

h3{
  padding: 0.5rem 2rem;
  margin: 0.1rem;
}

button {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  cursor: pointer;

  background-color: #2B2B28;
  border: 0.5px solid #F2F2F2;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 140.62%;
  letter-spacing: 0.15em;
  color: #F2F2F2;
}

input {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.1rem;

  background-color: #2B2B28;
  border: 0.5px solid #F2F2F2;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 140.62%;
  letter-spacing: 0.15em;
  color: #F2F2F2;
}

button:hover {
  background-color:#CCC;
  color:#2B2B28;
}

#playerBackground {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}


.overlay {
  filter: brightness(50%);
}

.countElement {
  font-size: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-weight: bolder;
   
  color:#F2F2F2;
  transform: translate(-675%,-10%);
    -ms-transform: translate(-675%,-10%);
}


@media screen and (max-width: 600px) {

  #jsApp {
    display:block;
  }

  button {
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 0.2rem 1rem;
  }

  input {
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.25em;
    padding: 0.2rem 1rem;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-size: 12px;
    text-transform: uppercase;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 12px;
      text-transform: uppercase;
  }
  
  ::placeholder {
      font-size: 12px;
      text-transform: uppercase;
  }
}